/*CSS Reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
/*Generics */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}
.head{
    background-color:white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom:10px;
    
}
.logo{
    vertical-align: middle;
}
h1{
    vertical-align: middle;
    display: inline;  
}

.container{
    width: 800px;
    height: 800px;
    margin:50px auto;
    background-color:white;
}

.list{
    padding: 30px 50px;
    line-height: 2;
}

.bottoni{
    border-bottom: 1px solid #F6F8F9;
    padding-left: 50px;
    padding-top: 15px;
}

/*utils*/

.radius-little{
    border-radius: 6px;
}

.radius-big{
    border-radius: 25px;
}
.pulsante{
    color:white;
    border:1px solid;
    padding:6px 12px;
    margin-bottom:10px;
    font-size: 12px;
}

summary{
    font-weight: bold;
}

.details{
    margin-bottom: 30px;
}

/*colors*/

.blue{
    background-color: #45ABEA;
    border-color:#45ABEA;
}
.white{
    background-color: white;
    border-color:#F6F8F9;
    color:#F6F8F9;
}
.violet{
    background-color: #9C72E4;
}
.lightgreen{
    background-color: #63BFA8;
}
.orange{
    background-color: #F29E33;
}
.fucsia{
    background-color: #D863A1;
}
.el-green{
    background-color:#B0C926
}

.check{
    color:green;
}
.cross{
    color:red;
}







