/*CSS Reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
/*Generics */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #999;
}
.head{
    background-color:white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom:10px;
    
}
.logo{
    vertical-align: middle;
}
h1{
    vertical-align: middle;
    display: inline;  
}

.container{
    width: 800px;
    height: 800px;
    margin:50px auto;
    background-color:white;
    padding-top: 15px;
    padding-left:30px;
    margin-bottom:10px;

    
}










/*utils*/

.radius-little{
    border-radius: 10px;
}

.radius-big{
    border-radius: 50%;
}
.pulsante{
    color:white;
    border:0;
    padding:5px;

}

.blue{
    background-color: #45ABEA;
}